{% load blogango_filters %}
<div class="widget widget-heading-simple widget-body-white">
    <div class="widget-body">
        <div class="row-fluid">	
            <div class="span4 center">
                {% if entry.created_by.teammember.photo %}
                <img src="{{ entry.created_by.teammember.photo.url }}" width="71" height="72" alt="{{ entry.created_by }}" />
                {% else %}
                <img src="{{ STATIC_URL }}blogango/images/person_default.jpg" width="71" height="72" alt="{{ entry.created_by }}" />
                {% endif %}
            </div>
            <div class="span8">
                <h5 class="strong text-uppercase"><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h5>
                <span class="glyphicons single regular user"><i></i> by <a href="{% url "blogango_author" entry.created_by %}">{{ entry.created_by }}</a>{% if entry.created_by.teammember.tag_line %} - {{ entry.created_by.teammember.tag_line }} {% endif %}</span>
                <span class="glyphicons single regular calendar"><i></i><a href='{% url "blogango_archives" entry.created_on.year entry.created_on|date:"b" %}'>
                        {{ entry.created_on|date:'jS N, Y' }}
                </a></span>
                <span class="glyphicons single regular comments"><i></i><a href="{{ entry.get_absolute_url }}#comments">{{ entry.get_num_comments }} Comments</a></span>
                <div class="separator bottom"></div>
                {% if post_detail %}
                <p>{{ entry.text|safe }}</p>
                {% else %}
                <p>{{ entry.text|truncatewords_html:100|safe }} </p>
                {% endif %}
                <p class="margin-none strong">{% if not post_detail %}<a href="{{ entry.get_absolute_url }}" class="glyphicons single chevron-right"><i></i>
                    Read more</a>
                {% endif %}</p>
                <div class="separator bottom"></div>
                <div class="pull-right topics">
                    {% for tag in entry.tags.all %}
                    {% if forloop.first %}Tags: {% endif %}
                    <a class="label" href="{% url "blogango_tag_details" tag.slug %}">{{ tag.name }}</a>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
