{% extends "base/base_MAIN.html" %}

{% load humanize %}

{% block head %}
<script src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        
        $('.data-table').dataTable({
                "bJQueryUI": true,
                "sPaginationType": "full_numbers",
                "sDom": '<""l>t<"F"fp>',
                "bLengthChange": false,
                "aaSorting": [[ 4, "desc" ]]
                });
        });
</script>
{% endblock %}

{% block assemblies_active %}active open{% endblock %}

{% block title %}
Assemblies and Groups
{% endblock %}

{% block page_title %}
Assemblies and Part Groups
{% endblock %}


{% block breadcrumb_links %}
    <a href="{% url partgroups.views.index %}" title="Assemblies/Groups" class="tip-bottom"><i class="icon-cog"></i> Assemblies/Part Groups</a>
    <a href="#" class="current">Assembly Listing</a>
{% endblock %}

{% block content %}  
<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon">
                    <i class="icon-th"></i>
                </span>
                <h5>Assemblies and Part Groups</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered data-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>User</th>
                            <th>Created</th>
                            <th>Last Update</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for asm in partgroups %}
                        <tr>
                            <td>
                                <a href="{{ asm.get_absolute_url }}">{{ asm.name }}</a>
                            </td>
                            <td>
                                {{ asm.description }}
                            </td>
                            <td class="center">
                                <a href="{{ asm.user.get_absolute_url }}">{{ asm.user }}</a> 
                            </td>
                            <td class="center">
                                {{ asm.created_at|date }}
                            </td>
                            <td class="center">
                                {{ asm.updated_at|date }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>                                                        
            </div>
        </div>
    </div>
</div>
{% endblock %}

