amqp==1.4.9
anyjson==0.3.3
BeautifulSoup==3.2.1
billiard==3.3.0.22
boto==2.39.0
bottlenose==0.6.0
celery==3.1.20
certifi==2015.11.20.1
Django==2.2.24
django-appconf==1.0.1
django-blogango==0.6.2
django-celery==3.1.17
django-classy-tags==0.5.1
django-debug-toolbar==1.4
django-haystack==2.4.1
django-hstore==1.4.1
django-orm==2.0.5
django-pingback==0.3
-e git://github.com/partengine/django-pure-pagination@9265315c7c27bc4d870547a419d99ef7f009ccff#egg=django_pure_pagination
Django-Select2==5.8.0
django-storages==1.4
django-taggit==0.18.0
django-widget-tweaks==1.3
django-xmlrpc==0.1.5
elasticsearch==1.9.0
feedparser==5.1.3
gunicorn==19.4.5
haystack==0.33
html5lib==1.0b3
isodate==0.4.9
keepalive==0.5
kombu==3.0.33
lxml==3.2.1
markdown2==2.1.0
microdata==0.4.0
mimeparse==0.1.3
pefile==1.2.10.post114
Pillow==2.4.0
psycopg2==2.4.6
pyelasticsearch==0.6
pyparsing==1.5.7
python-amazon-simple-product-api==1.4.0
python-dateutil==2.2
python-memcached==1.48
python-mimeparse==0.1.4
python-ptrace==0.8.1
pytz==2015.7
rdflib==4.0.1
requests==1.2.3
simplejson==3.0.8
six==1.10.0
sorl-thumbnail==12.3
SPARQLWrapper==1.5.2
sqlparse==0.1.18
urllib3==1.14
wheel==0.26.0
