Django==1.4.4
PIL==1.1.7
boto==2.8.0
distribute==0.6.35
-e git://github.com/twaddington/django-gravatar.git@c4f9c9aac9c0c95fbf3a574ade60b29514e9310e#egg=django_gravatar2-dev
-e git://github.com/toastdriven/django-haystack.git@ac6bbfbcd30f16768b4bfda1f0b1abf7a0aa34ff#egg=django_haystack-dev
django-markdown-deux==1.0.3
django-orm==2.0.5
django-pure-pagination==0.2.1
django-registration==0.8
django-storages==1.1.6
django-tastypie==0.9.12
markdown2==2.1.0
mimeparse==0.1.3
psycopg2==2.4.6
pyelasticsearch==0.3
python-dateutil==2.1
requests==1.1.0
simplejson==3.0.8
six==1.2.0
sorl-thumbnail==11.12
wsgiref==0.1.2
