{% extends "base/base_MAIN.html" %}
{% load url from future %}

{% block breadcrumb_links %}
<a href="/users/" title="Users" class="tip-bottom"><i class="icon-user"></i> Users</a>
<a href="#" class="current">Password Reset</a>
{% endblock %}

{% block page_title %}Reset Password{% endblock %}

{% block content %}
<div class="row-fluid">
    
    <div class="offset3 span5">
        <h2>And we're done!</h2>
        <p>You can now sign in again.</p>
    </div>

    
</div>
{% endblock %}

