{% extends "base/base_MAIN.html" %}
{% load url from future %}

{% block breadcrumb_links %}
<a href="/users/" title="Users" class="tip-bottom"><i class="icon-user"></i> Users</a>
<a href="#" class="current">Password Reset</a>
{% endblock %}

{% block page_title %}Reset Password{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span3 offset1">
        <img src="{{ STATIC_URL }}img/doh.png" alt="doh!" />
    </div>
    <div class="span5">
        <h2>Do'h! You forgot your password?</h2>
        <p>Don't worry, just give us your email and we'll send you instructions on how to reset it.</p>
        {% if form.errors %}
        <strong>You must enter your email address</strong>
        {% endif %}
        <form class="well form-horizontal" method="post">
            {% csrf_token %}
            <div class="control-group">
                <label class="control-label" for="id_email">Email Address</label>
                <div class="controls">
                    {{ form.email }}
                </div>
            </div>

            <div class="form-actions">
                <input type="hidden" name="next" value="/" />
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </div>
        </form>
    </div>

    
</div>
{% endblock %}

