{% if flash.error %}
<div class="container">
    <div class="row">
        <div class="span6">
            <div class="alert alert-error">
                <button class="close" data-dismiss="alert" href="#">&times;</button>
                {% for m in flash.error %}
                {{ m }}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if flash.success %}
<div class="container">
    <div class="row">
        <div class="span6">
            <div class="alert alert-success">
                <button class="close" data-dismiss="alert" href="#">&times;</button>
                {% for m in flash.success %}
                {{ m }}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}
