{% extends "base/base_MAIN.html" %}

{% load humanize %}
{% load thumbnail %}

{% block title %}
{{ company.name|safe }} - Details - Page {{ parts_list.paginator.current_page }} | Part Engine
{% endblock %}

{% block companies_active %}class="active"{% endblock %}

{% block breadcrumb_links %}
<a href="{% url companies.views.index %}" title="Parts" class="tip-bottom"><i class="icon-briefcase"></i> Companies</a>
<a href="#" class="current">{{ company.name }}</a>
{% endblock %}

{% block page_title %}{{ company.name|safe }}{% endblock %}

{% block content %}  
<div class="row-fluid">
    <div class="span12">
        {% if company.description %}
        <p>{{ company.description|linebreaksbr|truncatewords:150 }}</p>
        {% else %}
        <p>No company description available</p>
        {% endif %}
    </div>
</div>
<div class="row-fluid">
    <div class="span8">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon">
                    <i class="icon-cog"></i>
                </span>
                <h5>Part numbers by {{ company.name }} <small>{{ parts_list.paginator.count|intcomma }} parts</small></h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered data-table">
                    <thead>
                        <tr>
                            <th>Part #</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for part in parts_list.object_list %}
                        <tr>
                            <td>
                                <a href="{{ part.get_absolute_url }}">{{ part.number }}</a>
                            </td>
                            <td>
                                {{ part.description|truncatewords:20 }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {{ parts_list.render }}
            </div>
        </div>
    </div>

    <div class="span4">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon">
                    <i class="icon-briefcase"></i>
                </span>
                <h5>Details for {{ company.name }}</h5>
                <div class="buttons">
                    <a class="btn btn-mini tip-bottom" title="Add To My Companies"><i class="icon icon-star"></i></a>
                    <a class="btn btn-mini tip-bottom" title="Flag Company"><i class="icon icon-flag"></i></a>
                    {% if user.is_staff %}
                    <a href="{% url companies.views.edit company_id=company.id company_slug=company.slug %}" class="btn btn-mini tip-bottom" title="Edit Company"><i class="icon icon-edit"></i></a>
                    {% endif %}
                </div>
            </div>
            <div class="widget-content">
                {% if company.logo %}
                {% thumbnail company.logo "200" as im %}
                <img class="push-right" src="{{ im.url }}" alt="{{ company.name }} logo" />
                {% endthumbnail %}
                {% endif %}
                {% if company.url %}{{ company.url|urlize }}<br />{% endif %}
                {% if company.address1 %}{{ company.address1 }}<br />{% endif %}
                {% if company.address2 %}{{ company.address2 }}<br />{% endif %}
                {% if company.city %}{{ company.city }}, {{ company.state }}&nbsp;&nbsp;{{ company.zipcode }} {{ company.country }}<br /><br />{% endif %}
                {% if company.phone %}Phone: {{ company.phone }}<br />{% endif %}
                {% if company.fax %}Fax: {{ company.fax }}<br />{% endif %}
                {% if company.email %}Email: {{ company.email|urlize }}<br />{% endif %}
            </div>
        </div>

    </div>
</div>
{% endblock %}
