{% extends "base.html" %}

{% block companies_active %}class="active"{% endblock %}

{% block title %}
Company Directory - Page {{ results_list.page }} | Part Engine
{% endblock %}

{% block no_adsense %}{% endblock %}

{% block page_title %}
Company Directory <small>{{ companies|length }} companies</small>
{% endblock %}

{% block breadcrumb_links %}
<a href="{% url companies.views.index %}" title="Companies" class="tip-bottom"><i class="icon-briefcase"></i> Companies</a>
<a href="#" class="current">Company Directory</a>
{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        <h4><i class="icon-briefcase"></i> Company Listing</h4>
        {% include 'includes/adsense_728x90.html' %}
        <table class="table table-striped">
            <tbody>
                {% for company in companies.object_list %}
                <tr>
                    <td>
                        <a href="{{ company.get_absolute_url }}">{{ company.name|safe }}</a>
                    </td>
                    <td>
                        {% if company.description %}
                        {{ company.description|truncatewords:10 }}
                        {% else %}
                        No company description
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ companies.render }}
    </div>
</div>
{% endblock %}
