<!DOCTYPE html>{% load cache %}{% load humanize %}{% load gravatar %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Part Engine | The Part Number Search Engine {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block meta_description %}{% endblock %}">

        <!-- Include CSS Assets -->

        <link href="{{ STATIC_URL }}css/jkit.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/app.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/font-awesome.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">

        <script src="{{ STATIC_URL }}js/jquery.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.jkit.1.1.10.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.easing.1.3.js"></script>

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% block head %}
        {% endblock %}

        <!-- analytics asynchrous -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-29058601-1']);
            _gaq.push(['_trackPageview']);

            (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();
</script>

<!-- search typeahead -->
<script type="text/javascript">
    $(document).ready(function() {
            $(".search input[type=text]").typeahead({
items: 5,
source: function (query, process) {
$.get('/search/autocomplete', { q: query }, function (data) {
    process(data)
    })
}
});
            });
        </script>

    </head>
    <body>
        <div id="header">
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a href="/"><h1>part engine</h1></a>
                        <div class="search nav-collapse collapse">
                            <form class="navbar-form pull-left" action="{% url search.views.results %}" method="get">
                                <div class="input-append">
                                    <input autocomplete="off" class="span3" id="appendedInputButtons" type="text" name="q">
                                    <button class="btn btn-primary" type="button"><i class="icon-search"></i></button>
                                </div>           
                            </form>
                            <ul class="nav">
                                <li class="{% block parts_active %}{%endblock%}"><a href="{% url parts.views.index %}"><i class="icon-cogs"></i> Parts</a></li>
                                <li class="{% block nsn_active %}{%endblock%}"><a href="{% url nsn.views.index %}"><i class="icon-fighter-jet"></i> NSN</a></li>
                                <li class="{% block companies_active %}{%endblock%}"><a href="{% url companies.views.index %}"><i class="icon-building"></i> Companies</a></li>
                                <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-plus-sign"></i> More <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/blog/"><i class="icon-bullhorn"></i> Our Blog</a></li>
                                    <li><a href="/faq/"><i class="icon-question-sign"></i> F.A.Q.</a></li>
                                    <li><a href="/privacy/"><i class="icon-lock"></i> Privacy Policy</a></li>
                                    <li><a href="/contact/"><i class="icon-envelope"></i> Contact Us</a></li>
                                </ul>
                                </li>
                                {% if user.is_staff %}
                                <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-bolt"></i> Admin <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url parts.views.addpartform %}"><i class="icon-plus-sign"></i> New Part</a></li>
                                    <li><a href="/privacy/"><i class="icon-lock"></i> Privacy Policy</a></li>
                                    <li><a href="/contact/"><i class="icon-envelope"></i> Contact Us</a></li>
                                </ul>
                                </li>
                                {% endif %}
                            </ul>
                            <p class="navbar-text pull-right">
                            {% if user.is_authenticated %}
                            <img src="{% gravatar_url user.email 30 %}" alt="gravatar" /> hi {{ request.user }}. 
                            <a href="{% url django.contrib.auth.views.logout %}?next={{request.path}}">log out</a>
                            {% else %}
                            <a href="{% url django.contrib.auth.views.login %}?next={{request.path}}" class="navbar-link">login</a> or 
                            <a href="{% url django.contrib.auth.views.login %}?next={{request.path}}" class="navbar-link">register</a>
                            {% endif %}
                            </p> 
                        </div><!--/.nav-collapse -->
                    </div>
                </div>
            </div>
        </div>

        <!-- End Header -->
        <div id="content" class="container">
            <div class="row-fluid" >
                <div class="span9 main-section">
                    {% block no_adsense %}
                    <div class="options-bar">
                        {% include 'includes/adsense_728x90.html' %}
                    </div>
                    {% endblock %}
                    <!-- start content -->
                    {% block content %}
                    {% endblock %}

                    <!-- Start Right Section -->
                </div>
                {% block no_sidebar %}
                <div id="side-section" class="span3">
                    <ul class="nav nav-list">
                        <li class="nav-header">Part Engine indexes</li>
                        <li class="active"><a title="part count"><i class="icon-cogs"></i> &asymp; {{ part_count|intcomma }} parts</a></li>
                        <li><a title="nsn count"><i class="icon-fighter-jet"></i> &asymp; {{ nsn_count|intcomma }} NSNs</a></li>
                        <li class="active"><a title="company_count"><i class="icon-building"></i> &asymp; {{ company_count|intcomma }} companies</a></li>
                        <li><a title="xref_count"><i class="icon-random"></i> &asymp; {{ xref_count|intcomma }} cross refs</a></li>
                        <li class="active"><a title="attr_count"><i class="icon-eye-open"></i> &asymp; {{ attr_count|intcomma }} attributes</a></li>
                    </ul>
                    {% block no_skyscraper %}
                    <div style="margin-top:20px">
                        {% include 'includes/adsense-skyscraper.html' %}
                    </div>
                    {% endblock %}
                    {% block rightbar %}
                    <div class="module-top"><i class="icon-bullhorn"></i> From our blog</div>
                    <div class="module">
                        
                    </div>
                </div>
                {% endblock %}
                {% endblock %}
            </div>
            </div>
            <hr>
        </div>
    </div>
    <footer class="footer">
    <div class="container">
        <div class="row-fluid">
            <div class="span6">
                <p class="copyright">
                <a href="/blog/">Our Blog</a>
                | <a href="/faq/">FAQ</a>
                | <a href="/search/">Advanced Search</a>
                | <a href="/privacy/">Privacy Policy</a>
                | <a href="/contact/">Contact</a>
                | <a href="/sitemap.xml">Sitemap</a>
                | <a href="http://validator.w3.org/check?uri=http://preview.partengine.org{{ request.get_full_path }}">Valid HTML5</a><br />
                &copy; 2012 - {% now "Y" %} <strong>Part Engine</strong> ( {% include 'version.txt' %} )

                </p>
            </div>
            <div class="span6">
                <div class="pagination pull-right">
                    <ul>
                        <li><a data-rel="tooltip" data-placement="top" data-original-title="Follow us on Twitter" href="http://twitter.com/partengine"><i class="icon-twitter"></i></a></li>
                        <li><a data-rel="tooltip" data-placement="top" data-original-title="+1 us on Google+" href="https://plus.google.com/u/0/b/108549216163192075170"><i class="icon-google-plus"></i></a></li>          
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </footer>



    <!-- Include Javascript/JQuery Assets
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->



    <script type="text/javascript">
        $("[data-rel=tooltip]").tooltip();
        </script>

        <script type="text/javascript">
            $(document).ready(function(){
                    $('body').jKit();
                    });
</script>


            </body>
        </html>
