<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="author" content="Luka Cvrk (www.solucija.com)" />
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" />
	<title>{% block title %}partfindr | find information about ANY part number {% endblock %}</title>
	
	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
</head>
<body>
	<div class="bar" style="border-bottom:1px solid #666;" >
		<div class="content" style="padding:0px;">
			<ul>
				<li class="browse_category">&nbsp;</li>
				<li><b><a href="/parts/add/">Add a part</a></b></li>
				<li><a href="/about/">About</a></li>
				<li><a href="/search/">Advanced Search</a></li>

			</ul>
		</div>
	</div>
	<div class="content">
		<div class="header">
			<div class="top_info">
				<div class="top_info_right">
					<p>
						<b>partfindr</b> is indexing <b>{{ part_count }}</b> part numbers!
					</p>
					{% if user.is_authenticated %}
					<p>Welcome {{ user.username }} (<a href="/users/logout/">Log out</a>)</p>
					{% else %}
					<p>Please <a href="/users/login/">Sign in</a> or <a href="/users/register/">Register</a></p>
					{% endif %}
				</div>		
			</div>
			<div class="logo">
				<h1>
					<a href="/">part<span class="orange">findr</span></a><sup>beta</sup>
				</h1>
			</div>
		</div>
		
		{% block sitesearch %}
			<div class="search_field">
				<form method="get" action="/search/results/">
					<div class="search_form">
						<p>
							Search parts:  
							<input type="text" name="q" class="search" value="{{ searchterm }}" /> 
							<input type="submit" value="Search" class="submit" /> <a class="grey" href="/search/">Advanced</a>
						</p>
					</div>
				</form>
				You are here:<br />
				<a href="/">Home</a>
				{% block breadcrumbs %}

				{% endblock %}
			</div>
		{% endblock %}

		{% block content %}{% endblock %}
		<div class="push"></div>	
	</div>

	<div class="footer">
		<p>
			<a href="#">RSS Feed</a> | <a href="#">Contact</a> | <a href="#">Accessibility</a> | 
			<a href="#">Products</a> | <a href="#">Disclaimer</a> | 
			<a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> and <a href="http://validator.w3.org/check?uri=referer">XHTML</a>
			<br />
			&copy; Copyright 2011 partfindr.net, a disflux, inc. production.
		</p>
		<br />
	</div>
</body>
</html>
