<table class="table table-striped table-condensed">
    <tr>
        <td><strong>Category</strong></td>
        <td>
            {% for c in part.categories.all %}
                {% for s in c.get_taxonomy %}
                    {{ s }}
                    {% if forloop.last %}
                    {% else %}
                    >
                    {% endif %} 
                {% endfor %}
            {% endfor %}
            
            {% if user.is_staff %}
            <a title="New Attribute" href="#category-modal" data-toggle="modal"><i class="pull-right icon-plus-sign icon-white"></i></a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td><strong>ASIN</strong></td>
        <td>
            {{ part.asin }}
            {% if user.is_staff %}
            <a title="New Attribute" href="#add-asin" data-toggle="modal"><i class="pull-right icon-plus-sign icon-white"></i></a>
            {% endif %}
        </td>
    </tr>
    {% for a in part.attribute_set.all %}
    <tr>
        <td>
            <strong>{{ a.key|safe }}</strong>	
        </td>
        <td>
            {{ a.value|safe }}
            
        </td>
    </tr>
    {% endfor %}
</table>

