{% if part.attribute_set.count > 0 %}
<div class="widget-content nopadding">
    <table class="table table-bordered data-table">
        <thead>
            <tr>
                <th>Attribute</th>
                <th>Value</th>
                <th>Actions</th>
            </tr>
        </thead>
        {% for a in part.attribute_set.all %}
        <tr>
            <td>
                <strong>{{ a.key }}</strong>	
            </td>
            <td>
                {{ a.value }}
            </td>
            <td style="text-align:center;">
                {% if user.is_authenticated %}
                <div class="btn-group">
                    <a class="btn btn-mini tip-top" title="See detailed attribute information"><i class="icon icon-info-sign"></i></a>
                    <a class="btn btn-mini tip-top" title="Flag" href="#flag-modal" data-toggle="modal" onClick="SetFlags('attr', {{ a.id }})"><i class="icon icon-flag"></i>{% if a.attributeflag_set.count > 0 %}<span class="label label-important">{{ a.attributeflag_set.count }}</span>{% endif %}</a>
                    <a class="btn btn-mini tip-top" title="Up Vote"><i class="icon icon-thumbs-up"></i></a>
                    <a class="btn btn-mini tip-top" title="Down Vote"><i class="icon icon-thumbs-down"></i></a>
                    {% if user.is_staff %}
                        <a class="btn btn-mini tip-top" title="Delete"><i class="icon icon-trash"></i></a>
                    {% endif %}
                </div>
                {% else %}
                <a href="{% url django.contrib.auth.views.login %}?next={{request.path}}">Sign In</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% else %}
<div class="widget-content">
    <div class="alert alert-error">No additional information available.</div>
</div>
{% endif %}
