{% if buylinks %}
<div class="widget-content nopadding">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Company &amp; Link</th>
                <th>Price</th>
                <th>Last checked</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for buylink in buylinks %}
            <tr>
                <td>
                    <a href="{{ buylink.url }}">{{ buylink.company.name }}</a>
                </td>
                <td>
                    <b>${{ buylink.price }}</b>
                </td>
                <td>
                    {{ buylink.updated_at|date:"SHORT_DATE_FORMAT" }}
                </td>
                <td style="text-align:center;">
                    <div class="btn-group">
                        <a class="btn btn-mini tip-top" title="Flag"><i class="icon icon-flag"></i></a>
                        <a class="btn btn-mini tip-top" title="Up Vote"><i class="icon icon-thumbs-up"></i></a>
                        <a class="btn btn-mini tip-top" title="Down Vote"><i class="icon icon-thumbs-down"></i></a>
                        {% if user.is_staff %}
                        <a href = {% url parts.ajax.delete_buylink buylink.id %} class="btn btn-mini tip-top" title="Delete"><i class="icon icon-trash"></i></a>
                        {% endif %}

                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="widget-content">
    <h3>No links to purchase this product found.</h3>
</div>
{% endif %}

