{% if part.buylink_set.count > 0 %}
<table class="table table-bordered data-table">
    <thead>
        <tr>
            <th>Company &amp; Link</th>
            <th>Price</th>
            <th>Last checked</th>
        </tr>
    </thead>
    <tbody>
        {% for buylink in part.buylink_set.all %}
        <tr>
            <td>
                <a href="{{ buylink.url }}">{{ buylink.company.name }}</a>
            </td>
            <td>
                <b>${{ buylink.price }}</b>
            </td>
            <td>
                {{ buylink.updated_at|date:"SHORT_DATE_FORMAT" }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-error">No purchase information.</div>
{% endif %}

