<div id="category-taxonomy">
<ul class="inline">                                                                                                                              
    {% for c in part.categories.all %}                                                                                                
    {% for s in c.get_taxonomy %}                                                                                                     
    <li>{{ s }}</li>                                                                                                                           
    {% if forloop.last %}                                                                                                             
    {% else %}                                                                                                                        
<li class="divider">
    <i class="icon-caret-right"></i>
</li>                                                                                                                                
    {% endif %}                                                                                                                       
    {% endfor %}                                                                                                                     
    {% endfor %}                                                                                                                      
    {% if user.is_staff %}
    <li><a title="New Attribute" href="#category-modal" data-toggle="modal"><i class="icon-plus-sign"></i></a></li>             
    {% endif %}
   </ul>                                                                                                                              
</div>