<h6 id="category-taxonomy">                                                                                                                              
    {% for c in part.categories.all %}                                                                                                
    {% for s in c.get_taxonomy %}                                                                                                     
    {{ s }}                                                                                                                           
    {% if forloop.last %}                                                                                                             
    {% else %}                                                                                                                        
    >                                                                                                                                 
    {% endif %}                                                                                                                       
    {% endfor %}
    <br />                                                                                                                      
    {% endfor %}                                                                                                                      
    {% if user.is_staff %}
    <a title="New Attribute" href="#category-modal" data-toggle="modal"><i class="pull-right icon-plus-sign icon-white"></i></a>             
    {% endif %}                                                                                                                              
</h6>