{% load thumbnail %}
{% if part.images.count > 0 or part.asin %}
<ul class="thumbnails">
    {% for image in part.images.all %}
    {% if image.image %}
    {% thumbnail image.image "160x120" as im %}
    <li class="span3">
    <div class="thumbnail">
        <a data-jkit="[lightbox:group=images]" class="thumbnail" href="{{ image.image.url }}"><img src="{{ im.url }}" alt="{{ part.number }} image" itemprop="image" /></a>
        <div class="thumbnail-caption">
            {% if user.is_staff %}
            <div class="push-right">
                <a class="open-image-delete-modal btn btn-mini tip-top push-right" data-id="{{ image.pk }}" data-toggle="modal" title="Delete"><i class="icon icon-trash"></i></a>
            </div>
            {% endif %}
        </div>
    </div>
    </li>
    {% endthumbnail %}
    {% endif %}
    {% endfor %}

    {% if part.asin %}
    <li class="span3">                                                                                                                               
    <div class="thumbnail">
        <a data-jkit="[lightbox:group=images]" class="thumbnail" href="{{ part.asin_image }}"><img src="{{ part.asin_thumbnail }}" alt="{{ part.number }} image" itemprop="image" /></a>
    </div>
    </li>
    {% endif %}
</ul>
<script type="text/javascript">
    $(document).ready(function(){
            $('#images-table').jKit();
            });
</script>
{% else %}
<div class="alert alert-error">No images have been submitted.</div>
{% endif %}
