{% load thumbnail %}
<div class="gallery">
    <ul class="row-fluid">
        {% for image in part.images.all %}
        {% if image.image %}
        {% thumbnail image.image "160x120" as im %}
        <li class="span4"><a data-gallery="gallery" class="thumb" href="{{ image.image.url }}"><img src="{{ im.url }}" alt="{{ part.number }} image" /></a></li>
        {% endthumbnail %}
        {% endif %}
        {% endfor %}

        {% if part.asin %}
        <li class="span4">
        <a data-gallery="gallery" class="thumb" href="{{ part.asin_image }}">
            <img src="{{ part.asin_thumbnail }}" alt="{{ part.number }} image" itemprop="image" />
        </a>
        </li>
        {% endif %}
    </ul>
</div>
