{% if part.cross_references %}
<div class="widget-content nopadding">
    <table id="xrefs" class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Part #</th>
                <th>Description</th>
                <th>Company</th>
            </tr>
        </thead>
        <tbody>
            {% for x in part.cross_references.all %}
            {% if x.number != part.number %}
            <tr>
                <td>({{ x.pk }}) <a href="{{ x.get_absolute_url }}">{{ x.number }}</a> 
                    {% if user.is_staff %}
                    (<a href="{% url 'parts.ajax.set_redirect_part' %}?from={{ x.pk }}&to={{ part.pk }}">redirect to this part</a>)
                    {% endif %}
                </td>
                <td>{{ x.description }}</td>
                <td><a href="{{ x.company.get_absolute_url }}">{{ x.company.name }}</a></td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="widget-content">
    <div class="alert alert-error">No cross references.</div>
</div>
{% endif %}
