{% extends "base/base_MAIN.html" %}

{% block sitesearch %}
{% endblock %}

{% block content %}

<div class="left">
    <h1 style="border-bottom:1px solid #ccc;margin-bottom:20px;">About Partfindr / F.A.Q.</h1>
    <h2>General information</h2>
    <p class="reading">
    <b>1.1 <a name="about">What is Partfindr?</a></b><br />
    Partfindr is a service that helps people find information about any part number. This information includes cross references, attributes, and places where the part can be purchased.</p>
    <br />
    
    <p class="reading">
    <b>1.2 <a name="parts">What is considered a part?</a></b><br />
    Just about <b>anything</b> can be considered a part. If it has a part number, we want to know about it, no matter how trivial it may be. Do you know the part number for that tiny screw that holds the screen of your smart phone together? If so, we want to know about it, and someone else may want to know about it too. 
    </p>
    <br />

    <p class="reading" style="margin-left:30px">
    <b>1.2.1 <a name="part_attributes">What is an attribute?</a></b><br />
    An attribute could be something like a shape, color, weight, or height of a part. An attribute is simply <b>a piece of information that describes the part in more detail</b>. You can add attributes to any part.
    </p>
    <br />

    <p class="reading" style="margin-left:30px">
    <b>1.2.2 <a name="part_xrefs">What is a cross reference?</a></b><br />
    A cross refernce is a link to another part with similar characteristics that can be used in place of the original part. Think of an oil filter on a car. There are several brands of oil filter that will fit one particular car. All those different oil filters would be cross references of each other. They may be slightly different in color or shape or filtration capacity, but they will all fit in that particular car.
    </p>
    <br />

    <p class="reading">
    <b>1.3 <a name="data_sources">Where does part data come from?</a></b><br />
    Information about parts comes from several sources. One method is web robots that continually add new parts to the database, but our preferred method is part data that is entered by our users. Our users are our most valued source of information and we encourage everyone to help make partfindr better by <a href="{% url parts.views.addpartform %}">adding new parts</a> to our database, contributing part images, and verifying cross reference information.
    </p>
    <br />

    <p class="reading">
    <b>1.4 <a name="data_verification">How is data verified?</a></b><br />
    Our data is verified by the community. We try to ensure that data is 100% accurate and we rely on our users to make this possible. Please contribute and validate information about parts if you are able. User contributions are what make this site possible.
    </p>
    <br />


    <h2>Technical Information</h2>
    <p class="reading">
    <b>2.1 <a name="developers">Who developed this site?</a></b><br />
    This site is developed and maintained by <a href="http://disflux.com">disflux, LLC</a> owned by Derek and Rebecca Musselmann. 
    </p>
    <br />

    <p class="reading">
    <b>2.2 <a name="why">Why was it developed?</a></b><br />
    The idea came to me (Derek) while working at my job as a purchasing agent for a local manufacturing company in Omaha, Nebraska. I was often tasked with finding materials for various pieces of manufacturing equipment, with no easily accessible source of data to locate them. This gave me the idea to start a web site dedicated to quick and easy part information retrieval.
    </p>
    <br />

    <p class="reading">
    <b>2.3 <a name="technology">What technology does partfindr use?</a></b><br />
    Partfindr is programmed in <a href="http://python.org">Python</a> using the <a href="http://djangoproject.com">Django framework</a>. We use several Django packages to provide additional functionality. Data is stored in a <a href="http://postgresql.org">PostgreSQL</a> database and search is provided by <a href="http://elasticsearch.org">ElasticSearch</a>. Page serving is handled by <a href="http://nginx.org">nginx</a>. All this running in a private VPS from <a href="http://arpnetworks.com">ARP Networks</a> running <a href="http://freebsd.org">FreeBSD</a> 9. Media hosting and storage is handled by Amazon Simple Storage Service (S3).<br /><br />
    For web data extraction we currently use <a href="http://scrapy.org">Scrapy</a>, a Python framework for web scraping.
    </p>
    <br />

    <p class="reading">
    <b>2.4 <a name="api">Do you have an API?</a></b><br />
    Currently, the API is under development. We plan to release this for developers in early 2013.
    </p>
    <br />

    <p class="reading">
    <b>2.5 <a name="opensource">Is this site open source?</a></b><br />
    Open source software is a major component of Partfindr and we plan to release the source for this site at some point, but as of right now it is not open sourced.
    </p>
    <br />

</div>

<div class="right">
    <h3>Table of contents</h3>
    <div class="right_articles" style="font-size:1.2em">
        <h4>1. General Information</h4>
        &nbsp;&nbsp;<b>1.1</b> <a href="#about">What is partfindr?</a><br />
        &nbsp;&nbsp;<b>1.2</b> <a href="#parts">What is considered a part?</a><br />
        &nbsp;&nbsp;&nbsp;&nbsp;<b>1.2.1</b> <a href="#part_attributes">What is an attribute?</a><br />
        &nbsp;&nbsp;&nbsp;&nbsp;<b>1.2.2</b> <a href="#part_xrefs">What is a cross reference?</a><br />
        &nbsp;&nbsp;<b>1.3</b> <a href="#data_sources">Where does part data come from?</a><br />
        &nbsp;&nbsp;<b>1.4</b> <a href="#data_verification">How is data verified?</a><br />
        <br />
        <h4>2. Technical Information</h4>
        &nbsp;&nbsp;<b>2.1</b> <a href="#developers">Who developed this site?</a><br />
        &nbsp;&nbsp;<b>2.2</b> <a href="#why">Why was this site developed?</a><br />
        &nbsp;&nbsp;<b>2.3</b> <a href="#technology">What technology does partfindr use?</a><br />
        &nbsp;&nbsp;<b>2.4</b> <a href="#api">Do you have an API?</a><br />
        &nbsp;&nbsp;<b>2.5</b> <a href="#opensource">Is this site open sourced?</a><br />

    </div>
</div>
{% endblock %}


