{% extends "base/base_MAIN.html" %}

{% block sitesearch %}
{% endblock %}

{% block content %}

<div class="center_content" style="text-align:center">
	<br /><br />

	
	<h1 class="clear">search {{ part_count }} part numbers</h1>
	<form method="get" action="/parts/search/"><p class="clear">
		<input class="bigsearch" type="text" name="q" id="idxsearch" size="45" maxlength="100" />
		<input type="submit" class="submit"  value="find it"/></p>
	</form>
	<small>
		<p>search for any full or partial part number</p>
	</small>

</div>
{% endblock %}


