{% extends "base.html" %}

{% block home_active %}class="active"{% endblock %}

{% block no_breadcrumb %} {% endblock %}
{% block no_sidebar %} {% endblock %}
{% block no_adsense %} {% endblock %}

{% block content %}
{% load humanize %}
<div class="banner">

    <div class="mosaic-line mosaic-line-2">
        <div class="container-960 center">
            <h1 style="margin-top:50px;"><strong class="text-primary">PART</strong> FLUX</h1>
        </div>
    </div>
    <div class="container-960 innerT">
        <div class="widget widget-heading-simple widget-body-gray">
            <div class="widget-body"><p class="margin-none">
                <form class="input-append search" method="get" action="{% url 'search.views.results' %}">
                    <div class="offset2">
                    <input style="font-size:25px; height:40px;" class="span7" autocomplete="off" name="q" type="text" id="appdendedInputButton" >
                    <button style="height:49px; width:50px;" class="btn btn-primary" type="submit">
                        <i style="font-size:25px;" class="icon-search icon-white"></i>
                    </button>
                </div>
                </form>
            </div>
        </div>
        <div class="mosaic-line mosaic-line-2">
            <div class="container-960 center">
                <h3><strong class="text-primary">PART</strong> FLUX is a part number search engine.</h3>
                <p>We index millions of parts and their properties to help you find the information you are looking for.</p>
            </div>
        </div>

        <div class="row-fluid" style="margin-top:50px;">
            <div class="span5 offset1">
                <h4>Recent Part Updates</h4>
                <div class="widget widget-heading-simple widget-body-white widget-timeline">
                    <ul class="list-timeline">
                        {% for p in parts %}
                        <li>
                        <span class="date">{{ p.updated_at|date:"H:i" }}</span>
                        <span class="glyphicons activity-icon cogwheel"><i></i></span>
                        <span class="ellipsis"><a href="{{ p.get_absolute_url }}">{{ p.number }}</a> - {{ p.description }}
                            <div class="clearfix"></div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            <div class="span5">
                <h4>Recent Distributor Updates</h4>
                <div class="widget widget-heading-simple widget-body-white widget-timeline">
                    <ul class="list-timeline">
                        {% for p in skus %}
                        <li>
                        <span class="date">{{ p.updated|date:"H:i" }}</span>
                        <span class="glyphicons activity-icon cargo"><i></i></span>
                        <span class="ellipsis">Updated <em>{{ p.distributor.name}}</em> data: <a href="{{ p.part.get_absolute_url }}">{{ p.part.number }}</a> 
                            <div class="clearfix"></div>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="widget widget-heading-simple widget-body-gray">
            <div class="widget-body center">
                <p class="lead">Follow us on:</p>
                <div class="social-large social-large-2 center">
                    <a href="" class="active glyphicons facebook"><i></i>facebook</a>
                    <a href="" class="glyphicons google_plus"><i></i>google+</a>
                    <a href="" class="glyphicons twitter"><i></i>twitter</a>
                </div>
            </div>
        </div> -->
    </div>
</div>
                </div>

                {% endblock %}


