<div class="modal hide" id="attribute-modal">
    {% if user.is_authenticated %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
        <h3>Add a new attribute</h3>
    </div>
    <div class="modal-body">
        <p>Attributes are pieces of information that describe a part in greater detail.</p>

        <form id="attribute-form" class="form-horizontal" autocomplete="off" method="post">

            {% csrf_token %}

            <div class="control-group">
                <label class="control-label" for="id_part">Attribute Key</label>
                <div class="controls">
                    <input id="id_key" name="key" type="text" class="input-large" placeholder="Key">
                    <p>The attribute <strong><i>key</i></strong> holds the type of attribute. 
                    Examples of attribute keys are: <strong>weight</strong>,
                    <strong>finish</strong>, <strong>color</strong>, etc.
                    </p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="id_part">Attribute Value</label>
                <div class="controls">
                    <input id="id_value" name="value" type="text" class="input-large" placeholder="Value">
                    <p>The attribute <strong><i>value</i></strong> holds the attribute data. Examples of values:
                    <strong>10 LBS</strong>, <strong>RED</strong>, etc.
                    </p>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <input type="hidden" name="metadata_button" value="1" />
            <button id="submit_attribute" data-loading-text="Saving..." data-toggle="button" class="btn btn-inverse">Save Attribute</button>
            <button class="btn" data-dismiss="modal">Cancel</button>
        </form>
    </div>
    <script language="JavaScript">
        $(document).ready(function() {
            $('#attribute-form').submit(function() { // catch the form's submit event
                $.ajax({ // create an AJAX call...
                    data: $(this).serialize(), // get the form data
                    type: $(this).attr('method'), // GET or POST
                    url: $(this).attr('action'), // the file to call
                    success: function(response) { // on success..
                        $('#attribute-modal').modal('hide');
                        $('#attribute-form').each(function() {
                            this.reset();
                        });
                        $('#status-messages').hide().load("{% url main.views.status_messages %}").fadeIn("fast");
                        $('#attribute-table').hide().html(response).fadeIn("slow"); // update the DIV
                        $('#new-attribute').effect("highlight", {color: '#468847'}, 6000);
                    }
                });
                return false;
            });
        });
    </script>
    {% else %}
    {% include 'partials/login_modal.html' %}
    {% endif %}
</div>
