<div class="modal hide" id="add-buylink">
    {% if user.is_authenticated %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
        <h2>Add a new purchase link</h2>
    </div>
    <div class="modal-body">
        <p>Purchase links are links to online retailers. These links assist users in purchasing the parts.
        </p>
        <form class="form-horizontal" autocomplete="off" method="post">
            {% csrf_token %}

            <div class="control-group">
                <label class="control-label" for="id_url">URL</label>
                <div class="controls">
                    {{ buylinkform.url }}
                    <p>Enter the full URL to a page where part # {{ part.number }} can be purchased.</p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="id_company">Company Name</label>
                <div class="controls">
                    {{ buylinkform.company }}
                    <p>Enter the name of the company selling the part, <strong>not the manufacturer of the part!</strong></p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="id_price">Current Price</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on">$</span><input name="price" class="span2" id="id_price" size="16" type="text">
                        <p>Enter the price of the item.</p>
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <input type="hidden" name="buylink_button" value="1" />
                <button type="submit" class="btn btn-primary">Save Link</button>
                <button class="btn" data-dismiss="modal">Cancel</button>
            </div>

        </form>
    </div>
    {% else %}
    {% include 'partials/login_modal.html' %}
    {% endif %}
</div>
