/* 

	project: internet services - 2nd edition
	author: luka cvrk (www.solucija.com) */

   
/* default styles
   -------------- */
*{ margin: 0; padding: 0; }* 
body { 
	font: .7em Arial, sans-serif; 
	line-height: 1.6em;
	color: #444;
}
html, body {
	height: 100%;
}

a {	color: #336699;	background: inherit;}
a:hover { color: #6C757A; background: inherit; }

h1 { font: normal 2.6em Arial, Sans-Serif; padding: 7px 0 0 8px; margin: 0; }
h1 a { color: #737373; background: inherit; }
.orange { color: #336699; }
sup { font-size: .5em; }

h1 a, h2 a { text-decoration: none; }
h1 a:hover, h2 a:hover { color: #FF6600; background: inherit; }
h2 { font-size: 1.5em; margin-bottom: 5px; color: #000; background: inherit; }
p {	margin: 0 0 5px 0; }

ul { list-style : none; }

/* layout
   ------ */

.clearfix:after {
	clear: both;
	display: block;
	content: " ";
	height: 0px;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}
/* Hide these rules from IE-mac \*/
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
li.clearfix {
	display: list-item;
}


.content { 
	margin: 0 auto -142px;
	width: 980px;
	padding: 10px;
	padding-bottom:0px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	background: #fff;
	border-left:1px #000;
	border-right:1px #000;
	border-bottom: 1px #ccc;

}

.header { 
	
	height: 70px;
	background: #fff;
	color: #808080;
	margin: 3px 0;
	padding: 10px 0 0 0;
	border-bottom: 2px solid #999;
	}

.top_info {
	float: right;
	width: 555px;
	padding: 5px 0 4px 0;
	color: #808080;
}

	.top_info_left {
		width: 200px;
		float: left;
	}

	.top_info_right {
		margin-top:-15px;
		float: right;
		width: 290px;
		padding: 0 0 0 15px;
		border-left: 1px solid #eee;
	}
h2.signin {
	margin-left:0px;
	padding-left:0px;
	border:0px;
}
.browse_category  {
	color: #FFF;
	background: inherit;
}

.tooltip {
	display:none;
	background: url(../img/tooltip/white_big.png);
	font-size:13px;
	font-weight:bold;
	height:145px;
	width:320px;
	padding:25px;
	color:#606060;	
}

.bar { 
	clear: both;
	font-size: 1.1em;
	font-weight: bold;
	height: 30px; 
	color: #FFF;
	background: url(../img/head_mid.png) 0 0 repeat-x; 
	padding-left:10px;
	padding-right:10px;
}

	.bar li { 
		padding: 6px 12px 6px 12px;
		color: #FFEADC;
		float: right; 
	}
	
	.bar li.active { 
		background: #E0691A; 
		color: #fff;
		font-weight: bold; 
		
	}
	
	.bar li a { 
		font-weight: bold;
		color: #FFF; 
		background: inherit;
		text-decoration: none;
	}
	.bar li a:hover {
		text-decoration: underline;
	}

table.input {
	margin-left:auto;
	margin-right:auto;
}

td.input_big {
	font: normal 1.2em Arial, Sans-Serif;
	padding: 10px;
}
td.input_big input {
		width: 160px; 
		height:25px;
		border: 2px solid #ddd;
		padding: 0px; 
		color: #666;
		font: bold 1.2em Arial, Sans-Serif;
		margin: 0 0 0 0px;
	}
td.small_login input {
	display:inline;
	height:10px;
	width:65px;
	font normal .5em Ariel, Sans-Serif;
}

h2.viewall {
	padding:5px;
	margin-right:20px;
	margin-top: 10px;
	background: none;
}
/* search form */
.search_field { 
	background: #fff; 
	color: #808080;
	clear: both;
	font-weight: bold;
	padding: 7px 12px 10px 10px;
	margin: 5px 0;
}
	input.search, table input { 
		border: 1px solid #ddd;
		/*background: #FFF url(/images/input.gif) no-repeat;*/
		padding: 4px; 
		color: #333;
		font-weight: normal;
		margin: 0 0 0 3px;
	}
	input.bigsearch { 
		width: 600px; 
		height:45px;
		border: 2px solid #ddd;
		padding: 0px; 
		color: #666;
		font: bold 2.0em Arial, Sans-Serif;
		margin: 0 0 0 0px;
	}

	input.submit {
		background: #336699;
		border: 0;
		padding: 5px 0;
		width: 65px;
		margin: 0 15px 1px 0;
		color: #FFF;
		font: bold 1em Arial, Sans-Serif;
	}
	input.submit_small {
		background: #E0691A;
		padding: 5px;
		margin: 5px;
		padding-top:3px;
		border: 0;
		height:20px;
		color: #FFF;
		font: bold 1em Arial, Sans-Serif;
	}
	.grey { color: #808080; background: inherit; font-weight: normal; }
	.search_form { float: right; }

.pagination {
	margin-top:10px;
	font: bold 1.0em Arial, Sans-Serif;
}
.page {
	border: 1px solid #999;
	padding:4px;
	margin:4px;
}
.page:hover {
	background-color:#E0691A;
	color: #fff;
}

h2 {
	clear: both;
	border: 1px solid #bbb;
	-moz-border-radius:2px;
	border-top-right-radius:3px;
	border-top-left-radius:3px;
	background-color:#ddd;
	color: #000;
	padding: 3px 0 4px 43px;
	font: bold 1.4em Arial, Sans-Serif;
	margin: 0 0 10px 0;
}

table.results {
	font: normal 1.1em Arial;
}

td.part_number, td.part_desc {
	font: normal 1.0em Arial;
	padding:6px;
	border-bottom: 1px solid #ccc;
}

.results tr {
	border-bottom: 1px solid #ddd;
}
td.metadata {
	padding-left: 35px;
}
/* left side
   --------- */
.center_content {
	width: 974px;
}
p.clear {
	margin-top:30px;
	margin-bottom:50px;
}

h2.clear {
	margin-top:30px;
}

h3.add {
	margin-top:20px;
	margin-bottom:40px;
	font: 1.6em Arial, Sans-Serif;
}

.left {
	float: left;
	width: 70%;
	margin: 0 0 10px 0;
}


.left h2, .center_content h2 {
	clear: both;
	color: #999;
	padding: 3px 0 4px 4px;
	font: bold 1.6em Arial, Sans-Serif;
	margin: 0 0 10px 0;
}
	.left_side {
		float: left;
		width: 160px;
		padding: 0 0 0 10px;
		margin: 10px 0 0 38px;
	}
		
	.left_side a, .right_side a { color: #414141; background: #FFF; }
		
	.right_side {
		float: right;
		width: 280px;
		background: #FFF;
		color: #414141;
		padding: 0 0 0 70px;
		margin: 10px 0;
	}
	.left_box { 
		margin: 0 0 10px 0; 
		color: #000; 
		background: #FFF; 
		padding: 3px 0; 
	}
	
		
/* right side
   ---------- */
		
.right {
	float: right;
	width: 29%;
	margin-bottom:5px;
	margin-top:5px;
	clear:right;
	/*margin-left:644px;*/
}
	.right h3 {
		background: #BDBDBD;
		border-top-left-radius:5px;
		color: #FFF;
		padding: 7px 0 8px 5px;
		font: bold 1em Arial, Sans-Serif;
		margin: 8 0 3px 0;
		clear:both;
	}
	.right_articles {
		background: #f5f5f5;
		color: #414141;
		padding: 8px;	
		margin: 0 0 3px 0;
		clear:right;
	}
	.notice {
		background: #eee;
		color: #808080;
		padding: 12px 8px;	
		margin: 0 0 3px 0;
	}
	.image {
		float: left;
		margin: 0 9px 3px 0;
	}

/* footer
   ------ */

.footer { 
	clear: both;
	text-align: center;
	padding: 10px 0;
	border-top: 1px solid #000;
	background-color:#333;
	color: #fff;
}
.footer a { color: #fff; }
.footer, .push {
	clear:both;
	height: 142px; /* .push must be the same height as .footer */
}
