{% extends 'base/base_MAIN.html' %}

{% block title %}
Frequently Asked Questions | Part Engine
{% endblock %}

{% block help_active %}active{% endblock %}

{% block breadcrumb_links %}
<a href="#">Help</a>
<a href="#" class="current">Frequently Asked Questions</a>
{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        <h4><i class="icon-list-alt"></i> Frequently Asked Questions</h4>
        {% for topic in topics %}
        <h3>{{ topic }}</h3>
        {% for q in topic.questions.all %}
        <h4><a id="{{ q.slug }}">{{ q.text }}</a></h4>
        <p class="justify">{{ q.answer|safe }}</p>
        {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block rightbar %}
<div class="module-top"><i class="icon-comments"></i> Table of Contents</div>
<div class="module">
    {% for topic in topics %}
    <strong>{{ topic }}</strong>
    <ul>
        {% for q in topic.questions.all %}
        <li><a href="{% url faq_topic_list %}#{{ q.slug }}">{{ q.text }}</a></li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>
{% endblock %}
