{% extends 'base/base_MAIN.html' %}

{% block title %}
Frequently Asked Questions | partfindr
{% endblock %}

{% block help_active %}active{% endblock %}

{% block breadcrumb_links %}
<li>
<a href="#">Help</a> <span class="divider">></span>
</li>
<li class="active">
Frequently Asked Questions
</li>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Frequently Asked Questions</h1>
    </div>
    <div class="row">
        <div class="span8">
            {% for topic in topics %}
            <h2>{{ topic }}</h2>
            {% for q in topic.questions.all %}
            <h3><a name="{{ q.slug }}">{{ q.text }}</a></h3>
            <p class="justify">{{ q.answer|safe }}</p>
            {% endfor %}
            {% endfor %}
        </div>

        <div class="well span3">
            <div class="right_articles" style="font-size:1.2em">
                {% for topic in topics %}
                <h3>{{ topic }}</h3>
                <ul>
                    {% for q in topic.questions.all %}
                    <li><a href="{% url faq_topic_list %}#{{ q.slug }}">{{ q.text }}</a></li>
                    {% endfor %}
                </ul>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
