{% if attributes %}
<div class="widget-content nopadding">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Attribute</th>
                <th>Value</th>
                <th>Actions</th>
            </tr>
        </thead>
        {% for a in attributes %}
        <tr {% if a.id == new_id %}id="new-attribute"{% endif %}>
            <td>
                <strong>{{ a.key }}:</strong>	
            </td>
            <td>
                {{ a.value }}
            </td>
            <td width="18%">
                {% if user.is_authenticated %}
                <div class="btn-group">
                    <button class="btn btn-mini">Actions</button>
                    <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="#"><i class="icon icon-flag"></i> Flag</a></li>
                    </ul>
                </div>
                {% else %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% else %}
<div class="widget-content">
    <h3>No additional information available.</h3>
</div>
{% endif %}
