{% extends "base/base_MAIN.html" %}
{% load i18n %}

{% block breadcrumb_links %}
<a href="/contact/">Contact Us</a>
<a href="#" class="current">Thank you</a>
{% endblock %}

{% block help_active %}active open{% endblock %}
{% block title %}Contact Us | Part Engine{% endblock %}
{% block page_title %}Contact Us{% endblock %}

{% block content %}
<div class="well widget-box span10">
    <h1>Thank you</h1>
    <p>Thank you! Your message was sent successfully. We will respond within 48 hours.</p>
</div>
{% endblock %}