{% load markdown_deux_tags %}
<div data-backdrop="static" class="modal hide" id="add-part-to-assembly">
    {% if user.is_authenticated %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
        <h3>Update Assembly Description</h3>
    </div>
    <div class="modal-body" style="height:100px">
        <p>Select the assembly you would like to add this part to.</p>

        <form data-gritter-title-success="Part Added To Assembly" data-gritter-msg-success="The Part has been added to your assembly" data-gritter-title-error="Part NOT added to Assembly" id="part-to-asm-form" class="modal-form form-horizontal" autocomplete="off" method="post" action="{% url partgroups.views.add_to_asm %}">

            {% csrf_token %}
            <select id="asm-select" name="asm_id" class="span4">
                <optgroup label="My Assemblies">
                {% for a in user_assemblies %}
                <option value="{{ a.pk }}">{{ a.name }}</option>
                {% endfor %}
            </optgroup>
            </select>
        </div>
        <div class="modal-footer">
            <input type="hidden" name="part_id" value="{{ part.pk }}" />
            <button id="save-asm-part" data-loading-text="Saving..." class="modal-form-submit btn btn-inverse">Save Assembly</button>
            <button id="cancel-desc" class="btn" data-dismiss="modal">Cancel</button>
        </form>
    </div>

    
    {% else %}
    {% include 'includes/login_modal.html' %}
    {% endif %}
</div>
