{% load markdown_deux_tags %}
<div class="modal hide" id="edit-description-modal">
    {% if user.is_authenticated %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
        <h3>Update Assembly Description</h3>
    </div>
    <div class="modal-body">

        <form data-form-reset="false" data-div-update="#partgroup-desc" data-gritter-title-success="Description Updated!" data-gritter-msg-success="Your assembly description has been updated and should now be reflected in the description field." data-gritter-error-title="Something went wrong" id="partgroup-desc-form" class="modal-form form-horizontal" autocomplete="off" method="post" action="{% url partgroups.views.update_description %}">
            {% csrf_token %}
            {{ partgroupform.description }} 
            <p>{% markdown_allowed %}</p>

        </div>
        <div class="modal-footer">
            <input type="hidden" name="partgroup_id" value="{{ partgroup.pk }}" />
            <button id="save-desc" data-loading-text="Saving..." class="modal-form-submit btn btn-inverse">Save Description</button>
            <button id="cancel-desc" class="btn" data-dismiss="modal">Cancel</button>
        </form>
    </div>
    
    {% else %}
    {% include 'includes/login_modal.html' %}
    {% endif %}
</div>
