{% load markdown_deux_tags %}
<div class="modal hide" id="add_favorite-modal">
    {% if user.is_authenticated %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
        <h3>Add to my favorites</h3>
    </div>
    <div class="modal-body">
        <p>Feel free to add any notes you want about this part before adding it to your favorites. You can always add or change notes
        later in your parts dashboard.</p>

        <form name="add_favorite-form" id="add_favorite-form" class="form-horizontal" autocomplete="off" method="post" action="{% url parts.ajax.add_favorite %}">

            {% csrf_token %}

            <div class="control-group">
                <label class="control-label" for="id_company">Your notes</label>
                <div class="controls">
                    <textarea rows="8" name="notes" id="notes"></textarea>
                    <p>{% markdown_allowed %}</p>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <input type="hidden" id="part-id" name="part_pk" value="{{ part.pk }}" />
            <button id="save-mypart" data-loading-text="Saving..." data-toggle="button" class="btn btn-inverse"><i class="icon-white icon-star"></i> Add to my parts</button>
            <button class="btn" data-dismiss="modal">Cancel</button>
        </form>
    </div>

    <script type="text/javascript">
        $('#save-mypart').click(function() {
            $('#save-mypart').button('loading');
        });
    </script>

    <script type="text/javascript">
        $('#add_favorite-modal').on('shown', function () {
            $('#id_notes').focus();
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
                $('#add_favorite-form').submit(function() { // catch the form's submit event

                $.ajax({ // create an AJAX call...
                    data: $(this).serialize(), // get the form data
                    type: $(this).attr('method'), // GET or POST
                    url: $(this).attr('action'), // the file to call
                    success: function(response) { // on success..
                        $('#add_favorite-modal').modal('hide');
                        $('#add_favorite-form').each(function() {
                            this.reset();
                        });
                        $('#mynotes-table').hide().html(response).fadeIn("slow"); // update the DIV
                        $.gritter.add({
                            title:	'Saved to your parts dashboard',
                            text:	'You can view your saved parts in your parts dashboard',
                            sticky: false
                            });
                        $('#save-mypart').button('reset');
                    }
                });
                return false;
            });
        });
    </script>

    {% else %}
    {% include 'includes/login_modal.html' %}
    {% endif %}
</div>
