<div class="modal hide" id="attribute-modal">
    {% if user.is_authenticated %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
        <h3>Add/Edit Properties</h3>
    </div>
    <div class="modal-body">
        <p>Properties are pieces of information that describe a part in greater detail.</p>

        <form data-div-update="#attribute-table" data-gritter-title-success="Attribute Added" data-gritter-msg-success="Thanks for contributing! Your reputation has been incremented" data-gritter-error-title="Something went wrong" id="attribute-form" class="modal-form" autocomplete="off" method="post">

            {% csrf_token %}
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                {% for form in property_formset %}
                <tr>
                    {% for field in form %}
                    <td>{{ field }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
        <div class="modal-footer">
            <input type="hidden" name="metadata_button" value="1" />
            <button id="save-attribute" disabled="disabled" data-loading-text="Saving..." class="modal-form-submit btn btn-inverse">Update Properties</button>
            <button id="cancel-attribute" class="btn" data-dismiss="modal">Cancel</button>
            {{ property_formset.management_form }}
        </form>
    </div>
    {% else %}
    {% include 'includes/login_modal.html' %}
    {% endif %}
</div>
