<div class="modal hide" id="redirect-modal">
    {% if user.is_authenticated %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
        <h3>Redirect a part</h3>
    </div>
    <div class="modal-body">
        <form action="{% url 'parts.ajax.set_redirect_part' %}" method="get" data-div-update="#attribute-table" data-gritter-title-success="Attribute Added" data-gritter-msg-success="Thanks for contributing! Your reputation has been incremented" data-gritter-error-title="Something went wrong" id="attribute-form" class="modal-form form-horizontal" autocomplete="off" method="post">

            {% csrf_token %}

            <div class="control-group">
                <label class="control-label" for="id_part">Redirect from Part id</label>
                <div class="controls">
                    <input id="id_key" name="from" type="text" class="input-large" placeholder="part id">

                </div>
            </div>

        </div>
        <div class="modal-footer">
            <input type="hidden" name="to" value="{{ part.pk }}" />
            <button id="save-attribute" disabled="disabled" data-loading-text="Saving..." class="modal-form-submit btn btn-inverse">Save Attribute</button>
            <button id="cancel-attribute" class="btn" data-dismiss="modal">Cancel</button>
        </form>
    </div>
    {% else %}
    {% include 'includes/login_modal.html' %}
    {% endif %}
</div>
