<!DOCTYPE html>
<!--[if lt IE 7]> <html class="front ie lt-ie9 lt-ie8 lt-ie7 fluid top-full menuh-top"> <![endif]-->
<!--[if IE 7]>    <html class="front ie lt-ie9 lt-ie8 fluid top-full menuh-top sticky-top"> <![endif]-->
<!--[if IE 8]>    <html class="front ie lt-ie9 fluid top-full menuh-top sticky-top"> <![endif]-->
<!--[if gt IE 8]> <html class="animations front ie gt-ie8 fluid top-full menuh-top sticky-top"> <![endif]-->
<!--[if !IE]><!--><html class="animations front fluid top-full menuh-top sticky-top"><!-- <![endif]-->
<head>
	<title>{% block title %}Part Flux | The Part Number Search Engine {% endblock %}</title>
	
	<!-- Meta -->
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <meta name="description" content="{% block meta_description %}Part Flux is the part number search engine{% endblock %}" />
	
	<!-- Bootstrap -->
	<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
	
	<!-- Glyphicons Font Icons -->
	<link href="{{ STATIC_URL }}theme/fonts/glyphicons/css/glyphicons.css" rel="stylesheet" />
	
	<link rel="stylesheet" href="{{ STATIC_URL }}theme/fonts/font-awesome/css/font-awesome.min.css">
	<!--[if IE 7]><link rel="stylesheet" href="{{ STATIC_URL }}theme/fonts/font-awesome/css/font-awesome-ie7.min.css"><![endif]-->
	
	<!-- Uniform Pretty Checkboxes -->
	<link href="{{ STATIC_URL }}theme/scripts/plugins/forms/pixelmatrix-uniform/css/uniform.default.css" rel="stylesheet" />
	
	<!-- Bootstrap Extended -->
	<link href="{{ STATIC_URL }}bootstrap/extend/bootstrap-select/bootstrap-select.css" rel="stylesheet" />
	
	<!-- JQueryUI -->
	<link href="{{ STATIC_URL }}theme/scripts/plugins/system/jquery-ui/css/smoothness/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" />

	
	<!-- Main Theme Stylesheet :: CSS -->
        <link href="{{ STATIC_URL }}theme/css/app.css" rel="stylesheet" />
        {% block css %}
        {% endblock %}

	<!-- LESS.js Library -->
	<script src="{{ STATIC_URL }}theme/scripts/plugins/system/less.min.js"></script>
</head>
<body>
    <!-- Main Container Fluid -->
    <div class="container-fluid menu-hidden">

        <!-- Content -->
        <div id="wrap">
            <div id="main">
        <div id="content">

            <!-- Top navbar (note: add class "navbar-hidden" to close the navbar by default) -->
            <div class="navbar main hidden-print">

                <div class="secondary">
                    <div class="container-960">

                        <!-- Menu Toggle Button -->
                        <button type="button" class="btn btn-navbar visible-phone pull-right">
                            <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                        </button>
                        <!-- // Menu Toggle Button END -->

                        <ul class="topnav pull-left">
                            <li><a href="" class="glyphicons search single-icon"><i></i></a></li>
                            <li>
                            <form action="{% url 'search.views.results' %}" method="get">
                                <input class="site-search" data-minLength="3" placeholder="Search Parts" autocomplete="off" type="text" name="q" value="{{ query }}" />
                            </form>
                            </li>
                        </form>
                    </ul>

                        <ul class="topnav pull-right">
                            <li class="hidden-phone follow">
                            <span>Follow us</span> 
                            <a href="http://facebook.com/partflux" class="icon-facebook"></a>
                            <a href="http://twitter.com/partflux" class="icon-twitter"></a>
                            <a href="https://plus.google.com/u/0/b/108549216163192075170/" class="icon-google-plus"></a>
                            {% if user.is_staff %}
                             <a href="{% url 'parts.views.empty_category' %}" class="icon-play"></a>
                            {% endif %}
                            </li>
                        </ul>
                        <div class="clearfix"></div>

                    </div>
                </div>

                <div class="container-960">

                    <!-- Brand -->
                    <a href="/" class="appbrand pull-left"><span class="text-primary">PART</span> FLUX</a>

                    <ul class="topnav pull-right">
                        <li><a href="/">Home</a></li>
                        <li><a href="{% url 'parts.views.index' %}">Parts</a></li>
                        <li><a href="{% url 'companies.views.index' %}">Manufacturers</a></li>
                        <li><a href="/blog/">Blog</a></li>
                        <li><a href="">Contact</a></li>

                    </ul>
                    <div class="clearfix"></div>
                    <!-- // Top Menu Right END -->

                </div>

            </div>
            <!-- Top navbar END -->
            {% block no_breadcrumb %}
                <ul class="breadcrumb breadcrumb-960">
                    <li><a href="/" class="glyphicons dashboard"><i></i> Part Flux</a></li>
                    {% block breadcrumbs %}
                    {% endblock %}
                </ul>
            {% endblock %}
            <div class="container">
                
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
            <!-- // Content END -->                                                                                       

            <div id="footer" class="hidden-print">

                <div class="container innerTB">
                    <div class="row-fluid">
                        <div class="span2">
                            <h4>Quick Links</h4>
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="{% url 'parts.views.index' %}">Part Numbers</a></li>
                                <li><a href="{% url 'companies.views.index' %}">Manufacturers</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="/privacy">Privacy Policy</a></li>
                            </ul>
                        </div>
                        <div class="span4">
                            <h4>About</h4>
                            <div class="box-generic">
                                Part Flux is a part number information and search engine. We help users find the information they
                                need about parts to get the job done.
                            </div>
                        </div>
                        <div class="span3">
                            <h4>Our Blog</h4>
                            <ul>
                            </ul>
                        </div>
                        <div class="span3">
                            <h4>Contact</h4>
                            <ul class="icons">
                                <li class="glyphicons envelope"><i></i>info@partflux.com</li>
                            </ul>

                            <h4>Social</h4>
                            <a href="http://www.facebook.com/partflux" class="glyphicons standard facebook"><i></i></a>
                            <a href="http://twitter.com/partflux" class="glyphicons standard twitter"><i></i></a>
                            <a href="" class="glyphicons standard linked_in"><i></i></a>
                            <a href="https://plus.google.com/u/0/b/108549216163192075170/" class="glyphicons standard google_plus"><i></i></a>
                            <br />
                            

                        </div>
                    </div>

                    <!--  Copyright Line -->
                    <div class="copy">
                        &copy; 2012 - {% now "Y" %} <strong>disflux, LLC.</strong>
                        <span class="appbrand">PART FLUX (<a href="/sitemap.xml">Sitemap</a>)</span>
                        
                    </div>
                    <!--  End Copyright Line -->

                </div>

            </div>
            <!-- // Footer END -->

        </div>
        <!-- // Main Container Fluid END -->
        
        <!-- JQuery -->
        <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.easing.1.3.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-jkit/1.1.8/jquery.jkit.min.js"></script>
        {% if user.is_staff %}
        <script src="{{ STATIC_URL }}js/jquery.jCombo.js"></script>
        {% endif %}

        <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

        <!-- Global -->
        <script>
            var basePath = '',
            commonPath = '{{ STATIC_URL }}';
        </script>

        <!-- JQueryUI -->
        <script src="{{ STATIC_URL }}theme/scripts/plugins/system/jquery-ui/js/jquery-ui-1.9.2.custom.min.js"></script>

        <!-- JQueryUI Touch Punch -->
        <!-- small hack that enables the use of touch events on sites using the jQuery UI user interface library -->
        <script src="{{ STATIC_URL }}theme/scripts/plugins/system/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

        <!-- Modernizr -->
        <script src="{{ STATIC_URL }}theme/scripts/plugins/system/modernizr.js"></script>

        <!-- Bootstrap -->
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>

        <!-- Holder Plugin -->
        <script src="{{ STATIC_URL }}theme/scripts/plugins/other/holder/holder.js"></script>

        <!-- Uniform Forms Plugin -->
        <script src="{{ STATIC_URL }}theme/scripts/plugins/forms/pixelmatrix-uniform/jquery.uniform.min.js"></script>

        <!-- Bootstrap Extended -->
        <script src="{{ STATIC_URL }}bootstrap/extend/bootstrap-select/bootstrap-select.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/extend/bootbox.js"></script>


        <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}theme/scripts/plugins/charts/flot/jquery.flot.min.js"></script>
        
        {% block js %}
        {% endblock %}
        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-22165603-2', 'partflux.com');
  ga('send', 'pageview');

</script>

<!-- Start of StatCounter Code for Default Guide -->
        <script type="text/javascript">
            var sc_project=9181676; 
            var sc_invisible=1; 
            var sc_security="51555876"; 
            var scJsHost = (("https:" == document.location.protocol) ?
            "https://secure." : "http://www.");
            document.write("<sc"+"ript type='text/javascript' src='" +
            scJsHost+
            "statcounter.com/counter/counter.js'></"+"script>");
        </script>
        <!-- End of StatCounter Code for Default Guide -->

</body>
</html>
