{% extends "base/base_MAIN.html" %}
{% load i18n %}

{% block title %}{% trans "Flag this comment" %}{% endblock %}

{% block breadcrumbs %}
> Comments > Flag comment
{% endblock %}

{% block content %}
    <div class="left">
        <h2>Flag comment</h2>
        <h3>Are you sure you want to flag this comment?</h3>
        <blockquote style="margin:10px;font-size:1.2em">{{ comment }}</blockquote>
        <form action="." method="post">{% csrf_token %}
            {% if next %}<div><input type="hidden" name="next" value="{{ next }}" id="next" /></div>{% endif %}
            <p class="submit">
            <input class="submit" type="submit" name="submit" value="Flag" /> or <a href="{{ comment.get_absolute_url }}">cancel</a>
            </p>
        </form>
    </div>

    <div class="right">
        <h3>Flagging tips</h3>
        <div class="right_articles">
            <ul class="bullets">
                <li>Be sure you are flagging for a good reason. If the comment is off topic, contains profanity, or looks like spam, you should flag it.</li>
                <li>Do not flag because you disagree with the comment.</li>
                <li>Your user name and IP address are logged when flagging to prevent abuse</li>
            </ul>
        </div>
    </div>

{% endblock %}
