{% load comments %}

<div class="modal hide" id="comment">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
        <h3>Comment on Part # {{ part.number }} by {{ part.company.name }}</h3>
    </div>
    <form class="form-horizontal" method="post" action="{% comment_form_target %}">
        <div class="modal-body">
            {% csrf_token %}

            <div class="control-group">
                <label class="control-label" for="id_comment">Comment</label>
                <div class="controls">
                    <textarea rows="8" name="comment"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">

            <div style="display:none">{{ form.honeypot }}</div>
            <div>
                {{ form.timestamp }}
                {{ form.security_hash }}
                {{ form.object_pk }}
                {{ form.content_type }}
                <input type="hidden" name="next" value="{{ current_path }}" />
                <button type="submit" class="btn btn-inverse">Post</button>
                <button type="submit" class="btn">Preview</button>
                <button class="btn" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </form>
</div>
