{% load comments %}

<div style="margin-top:20px"></div>
<h2 class="clear">Add new comment</h2>
<form action="{% comment_form_target %}" method="post">
    {% csrf_token %}
    <dl>
        <dt><label for="id_name">Name:</label><label style="margin-left:265px;" for="id_email">Email:</dt>
        <dd class="commentform">{{ form.name }} {{ form.email }}</dd>

        <dt><label for="id_comment">Comment:</label></dt>
        <dd>{{ form.comment }}</dd>

    </dl>
    <div style="display:none">{{ form.honeypot }}</div>
    {{ form.timestamp }}
    {{ form.security_hash }}
    {{ form.object_pk }}
    {{ form.content_type }}
    <input type="hidden" name="next" value="{{ current_path }}" />
    <input type="submit" value="Post" class="submit" name="submit" />
    <input type="submit" value="Preview" class="submit" name="preview" />
</form>
