{% load comments %}
{% load humanize %}

<h2 style="margin-top: 20px" class="clear">Part comments ({{ comment_count }})</h2>

{% if comment_count == 0 %}
    <h3 class="add">No comments, add one below.</h3>
{% else %}
    {% get_comment_list for part as comments %}
    <dl class="comments" id="comments">
        {% for comment in comments %}
            <div class="commentbox">
            <dt>{{ comment.user }} wrote {{ comment.submit_date|naturalday }}:</dt>
            <dd>{{ comment.comment }}</dd>
        </div>
        {% endfor %}
    </dl>
{% endif %}
