{% load humanize %}
{% load comments %}
{% load gravatar %}

<div id="comments">
    {% if comment_count == 0 %}
    <div class="alert alert-error">No comments, be the first to add one!</div>
    {% else %}
    <ul class="recent-comments">
        {% for comment in comment_list %}
        <li>
        <div class="user-thumb">
            <img src="{% gravatar_url comment.user.email 40 %}" />
        </div>
        <div class="comments">
            <span class="user-info"> <strong>{{ comment.user }}</strong> @ {{ comment.submit_date|naturalday }} wrote:</span>
            <p>
            {{ comment.comment }}
            </p>
        </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
