<p style="font-size:1.3em;">
Registration is 100% free and gives you access to millions of part numbers. Registration also allows you to enter metadata, cross references, and part comments.
</p>
<br /><br />

    <form method="post" action="{% url registration.views.register %}">
		{% csrf_token %}
                <dl class="big_form">
                    {{ form.username.errors }}
                    <dt><label for="id_username">Username:</label></dt>
                    <dd>{{ form.username }}</dd>

                    {{ form.email.errors }}
                    <dt><label for="id_email">Email:</label></dt>
                    <dd>{{ form.email }}</dd>

                    {{ form.password1.errors }}
                    <dt><label for="id_password1">Password:</label></dt>
                    <dd>{{ form.password1 }}</dd>

                    {{ form.password2.errors }}
                    <dt><label for="id_password2">Password (again):</label></dt>
                    <dd>{{ form.password2 }}</dd>
                </dl>
                <input style="float:left" class="submit" type="submit" value="Register for a partfindr account" />
            </form>
