{% extends "base/base_MAIN.html" %}

{% block breadcrumbs %}
> <a href="/parts/">Parts</a> > Add new part
{% endblock %}


{% block content %}
<div class="left">
	<h2>Add a new part</h2>
	{% if user.is_authenticated %}
			<form action="" method="post">
				{% csrf_token %}
				<dl class="add_part_form">
					{{ partform.part.errors }}
					<dt><label for="id_part">Part Number:</label></dt>
					<dd>{{ partform.part }}</dd>

					{{ partform.company.errors }}
					<dt><label for="id_company">Company:</label></dt>
					<dd>{{ partform.company }}</dd>

					{{ partform.desc.errors }}
					<dt><label for="id_desc">Part Description:</label></dt>
					<dd>{{ partform.desc }}</dd>

				</dl>
				<input type="submit" value="Add new part" class="submit" name="metadata_button" />
			</form>
		{% else %}
			<h4 class="signin">please <a href="/users/login/">sign in</a> or <a href="/users/register/">register</a> to add a cross reference.</h4>
		{% endif %}
</div>

<div class="right">
	<h3>Tips for adding parts</h3>
	<div class="right_articles"
		<ul>
			<li>Make sure your part number is complete and accurate</li>
			<li>Make sure the company name is correct</li>
			<li>Enter a great description so others are able to easily find your part</li>
			<li>After adding a new part, enter any information about the part that may help others identify it correctly</li>
		</ul>
	</div>
</div>


{% endblock %}
