{% extends "base/base_MAIN.html" %}
  
  <script type="text/javascript" src="lib/js/jquery.form.js"></script>
  
  <script type="text/javascript">
  $(document).ready(function() 
  {
    $('#metaData').ajaxForm({
      target: '#meta',
      success: function() {
        $('#meta').fadeIn('slow');
		$(':input','#metaData')
 			.not(':button, :submit, :reset, :hidden')
 			.val('')
      }
    });
	var ac_config = {
		source: "/lib/ajax/companies.php",
		select: function(event, ui){
			$("#part_company").val(ui.item.zip);
		},
		minLength:3
	};
	var pc_config = {
		source: "/lib/ajax/parts.php",
		select: function(event, ui){
			$("#part_number").val(ui.item.zip);
		},
		minLength:3
	};
	$("#part_company").autocomplete(ac_config);
	$("#part_number").autocomplete(pc_config);
  });
  </script>

{% block content %}  
<div class="left">
	&nbsp;
		<h2>Details for {{ part.number }} by {{ part.company }}</h2>
			<table style="margin-left:25px" class="results" border="0" cellpadding="0"  cellspacing="0" width="100%">
				<tr>
					<td colspan="2">
						<p>
							<b>{{ part.description }}</b>
						</p>
					</td>
				</tr>
			<tr>
				<td colspan="2">
					<div id="meta">
						<table class="metadata" border="0" cellspacing="5" cellpadding="5">
						{% for k, v in part.metadata.items %}
							<tr>
								<td>
									<p>
										{{ k }}	
									</p>
								</td>
								<td class="metadata">
									<p>
										{% if "SOURCE" in k %}
											<a href="{{ v }}">open in new window</a><br />
										{% else %}
											{{ v }}<br />
										{% endif %}
									</p>
								</td>
							</tr>
						{% endfor %}
						</table>
					</div>
				</td>
			</tr>
			</table>
			<h2 style="margin-top: 20px" class="clear">Cross referenced part numbers</h2>
			<table class="results" border="0" cellpadding="0"  cellspacing="0" width="100%">
			{% if xrefs %}
			{% for xref in xrefs %}
				<tr>
					<td class="part_number">
						<a href="/parts/{{ xref.xrefpart.id}}/">{{ xref.xrefpart.number }}</a>
					</td>
					<td class="part_desc">
						{{ xref.xrefpart.description }}
					</td>
					<td class="part_desc">
						{{ xref.xrefpart.company }}
					</td>
				</tr>
			{% endfor %}
			{% else %}
				<tr><td><h3 class="add">No part number cross references. Add one using the form on the right.</h3></td></tr>
			{% endif %}
		</table><br /><br />
		<h2 style="margin-top: 20px" class="clear">Parts that cross reference this part</h2>
			<table class="results" border="0" cellpadding="0"  cellspacing="0" width="100%">
			{% if reverse_xrefs %}
			{% for rxref in reverse_xrefs %}
				<tr>
					<td class="part_number">
						<a href="/parts/{{ rxref.part.id}}/">{{ rxref.part.number }}</a>
					</td>
					<td class="part_desc">
						{{ rxref.part.description }}
					</td>
					<td class="part_desc">
						{{ rxref.part.company }}
					</td>
				</tr>
				{% endfor %}
				{% else %}
				<tr><td><h3 class="add">No reverse cross references. </h3></td></tr>
			{% endif %}
			</table>


	
</div>

<div class="right">
			<h3>Part Metainfo</h3>
			<div class="right_articles">
			<p> Date added: {{ part.created_at }} </p>
			<p> Last updated: {{ part.updated_at }} </p> 
			<p> Hits: {{ part.hits }} </p>
			<p> Added by: {{ part.user.username }} </p>
			</div>
</div>

<div class="right">
	<h3>Add a cross reference</h3>
	<div class="right_articles">
		{% if user.is_authenticated %}
		<form action="" method="post">
			{% csrf_token %}
			<table class="input">
				{{ xref_form.as_table }}
				<tr><td><input type="submit" value="Save" class="submit" name="xref_button"/></td></tr>

			</table>
		</form>
		{% else %}
		<h2 class="signin">Please <a href="/users/login/">Sign in</a> or <a href="#">Register</a> to add a cross reference.</h2>
		{% endif %}
	</div>
</div>


<div class="right">
	<h3>Add metadata</h3>
	<div class="right_articles">
		{% if user.is_authenticated %}
		<form action="" method="post">
			{% csrf_token %}
			<table class="input">
				{{ metadata_form.as_table }}
				<tr><td><input type="submit" value="Save" class="submit" name="metadata_button" /></td></tr>
			</table>
		</form>
		{% else %}
		<h2 class="signin">Please <a href="/users/login/">Sign in</a> or <a href="#">Register</a> to add metadata.</h2>
		{% endif %}
	</div>
</div>
{% endblock %}

