{% extends "base/base_MAIN.html" %}

{% load humanize %}
{% load parttags %}
{% load comments %}
{% load thumbnail %}

{% block title %}
{{ part.number }} by {{ part.company.name }} | partengine
{% endblock %}

{% block parts_active %}active{% endblock %}

{% block breadcrumb_links %}
<li>
<a href="{% url parts.views.index %}">Parts</a> <span class="divider">></span>
</li>
<li>
<a href="{% url companies.views.detail part.company.slug %}">{{ part.company.name }}</a> <span class="divider">></span>
</li>
<li class="active">{{ part.number }}</li>
{% endblock %}

{% block html_itemscope %}itemscope itemtype="http://schema.org/Product"{% endblock %}

{% block head %}
<meta itemprop="name" content="{{ part.number}} by {{ part.company.name }}" />
<meta itemprop="description" content="{{ part.description }}" />

{% for image in part.images.all %}
{% if forloop.first %}
<meta itemprop="image" content="{{ image.image.url }}" />
{% endif %}
{% empty %}
<meta itemprop="image" content="{{ current_domain }}{{ STATIC_URL }}images/partfindr_logo_big.png" />
{% endfor %}

<link rel="stylesheet" href="{{ STATIC_URL }}js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
<script type="text/javascript" src="{{ STATIC_URL }}js/fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript">
    <link rel="stylesheet" href="{{ STATIC_URL }}js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/fancybox/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jeditable.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
                $("#lightbox").fancybox({
                    'transitionIn'  :   'elastic',
                    'transitionOut' :   'elastic',
                    'speedIn'       :   600, 
                    'speedOut'      :   200, 
                    'overlayShow'   :   false
                    });
                $('.edit').editable('http://www.example.com/save.php', {
indicator : 'Saving...',
tooltip : 'Click to edit...'
});
</script>
{% endblock %}


{% block content %}
<div class="container">
    <div class="page-header">
        <h1>{{ part.number }} by {{ part.company }} <br /><small><div class="edit" id="div_1">{{ part.description }}</div></small></h1>
    </div>

    <div class="row">
        <div class="span9">
            {% include 'parts/modals/attribute_modal.html' %} 
            {% include 'parts/modals/image_modal.html' %}
            {% include 'parts/modals/xref_modal.html' %}
            {% include 'parts/modals/buylink_modal.html' %}

            <!-- information tabs -->
            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#attributes" data-toggle="tab"><i class="icon-info-sign"></i> Details ({{ attributes|length }})</a></li>
                    <li><a href="#tab1" data-toggle="tab"><i class="icon-random"></i> XRefs ({{ xrefs|length }})</a></li>
                    <li><a href="#tab2" data-toggle="tab"><i class="icon-random"></i> Reverse XRefs ({{ rxrefs|length }})</a></li>
                    <li><a href="#images" data-toggle="tab"><i class="icon-picture"></i> Images ({{ part.images.all|length }})</a></li>
                    <li><a href="#buylinks" data-toggle="tab"><i class="icon-globe"></i> Purchasing ({{ buylinks|length }})</a></li>
                    <li><a href="#comments" data-toggle="tab"><i class="icon-comment"></i> Comments</a></li>
                </ul>

                <div class="tab-content">
                    <!-- part attributes tab -->
                    <div class="tab-pane active" id="attributes">
                        <div id="attribute-table">
                            {% include 'parts/partials/attribute_table.html' %}
                        </div>
                    </div>

                    <!-- forward xrefs tab -->
                    <div class="tab-pane" id="tab1">
                        {% if xrefs %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Part #</th>
                                    <th>Description</th>
                                    <th>Company</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for xref in xrefs %}
                                <tr>
                                    <td>
                                        <a href="{{ xref.xrefpart.get_absolute_url }}">{{ xref.xrefpart.number }}</a>
                                    </td>
                                    <td>
                                        {{ xref.xrefpart.description }}
                                    </td>
                                    <td>
                                        <a href="{% url companies.views.detail xref.xrefpart.company.slug %}">{{ xref.xrefpart.company }}</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <h3>No cross references available.</h3>
                        {% endif %}
                    </div>
                    <!-- end forward xrefs tab -->

                    <!-- reverse xref tab -->
                    <div class="tab-pane" id="tab2">
                        {% if reverse_xrefs %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Part #</th>
                                    <th>Description</th>
                                    <th>Company</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for rxref in reverse_xrefs %}
                                <tr>
                                    <td>
                                        <a href="{{ rxref.part.get_absolute_url }}">{{ rxref.part.number }}</a>
                                    </td>
                                    <td>
                                        {{ rxref.part.description }}
                                    </td>
                                    <td>
                                        <a href="{% url companies.views.detail rxref.part.company.slug %}">{{ rxref.part.company }}</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <h3>No parts cross reference this part.</h3>
                        {% endif %}
                    </div>
                    <!-- end reverse xrefs tab -->

                    <!-- part images tab -->

                    <div class="tab-pane" id="images">
                        <div id="images">
                            {% if part.images.all %}
                            <ul class="thumbnails">
                                {% for image in part.images.all %}
                                {% thumbnail image.image "160x120" crop="center" as im %}
                                <li class="span2">
                                <a id="lightbox" class="thumbnail" href="{{ image.image.url }}"><img src="{{ im.url }}" alt="{{ part.number }} image" /></a>
                                </li>
                                {% endthumbnail %}
                                {% endfor %}
                            </ul>
                            {% else %}
                            <h3>No images available for this part.</h3>
                            {% endif %}
                        </div>
                    </div>
                    <!-- end part images tab -->

                    <!-- buylinks tab -->
                    <div class="tab-pane" id="buylinks">
                        <div id="buylinks">
                            {% if buylinks %}
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Company &amp; Link</th>
                                        <th>Price</th>
                                        <th>Last checked</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for buylink in buylinks %}
                                    <tr>
                                        <td>
                                            <a href="{{ buylink.url }}">{{ buylink.company.name }}</a>
                                        </td>
                                        <td>
                                            <b>${{ buylink.price }}</b>
                                        </td>
                                        <td>
                                            {{ buylink.updated_at|date:"SHORT_DATE_FORMAT" }}
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button class="btn btn-mini">Actions</button>
                                                <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <a href="#">Flag as dead link</a>
                                                    <a href="#">Flag as wrong price</a>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <h3>Sorry, we don't know where to obtain this part online. </h3>
                            {% endif %}
                        </div>
                    </div>
                    <!-- end buylinks tab -->

                    <!-- comments tab -->
                    <div class="tab-pane" id="comments">
                        {% get_comment_count for part as comment_count %}
                        {% render_comment_list for part %}
                        {% if user.is_authenticated %}
                        {% render_comment_form for part %}
                        {% endif %}
                    </div>
                    <!-- end comments tab -->
                </div> <!-- end tabcontent -->
            </div>     <!-- end tabbable -->
        </div>         <!-- end span9 -->


        <div id="part-menu" class="span3" >
            <div class="well">
                {% include 'partials/share_links.html' %}
                <div class="divider">&nbsp;</div>
                <ul class="nav nav-list">
                    <li class="nav-header">
                    <h3>Edit this part</h3>
                    </li>
                    <li>
                    <a href="#attribute-modal" data-toggle="modal">
                        <i class="icon-info-sign"></i>
                        Add new part attribute
                    </a>
                    </li>
                    <li>
                    <a href="#img-upload" data-toggle="modal">
                        <i class="icon-picture"></i>
                        Upload a part image
                    </a>
                    </li>
                    <li>
                    <a href="#add-xref" data-toggle="modal">
                        <i class="icon-random"></i>
                        Add a new cross reference
                    </a>
                    </li>
                    <li>
                    <a href="#add-buylink" data-toggle="modal">
                        <i class="icon-globe"></i>
                        Add a new purchase link
                    </a>
                    </li>
                    <li>
                    <a href="#comment" data-toggle="modal">
                        <i class="icon-comment"></i>
                        Add a comment
                    </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

