{% extends "base/base_MAIN.html" %}

{% block content %}
	<div class="center_content">
		&nbsp;
		<h2>{{ parts_list.paginator.count }} part numbers match "<i>{{ searchterm }}</i>"</h2>
		<table class="results" border="0" cellpadding="0"  cellspacing="0" width="100%"><tr><td></td></tr>
			<tr>
				<td colspan="3">
				</td>
				{% for part in parts_list.object_list %}
				<tr>
					<td style="width:20%" class="part_number">
						<a href="/parts/{{ part.id}}/">{{ part.number }}</a>
					</td>
					<td class="part_desc">
						{{ part.description|truncatewords:12 }}
					</td>
					<td class="part_desc">
						<a href="/companies/{{ part.company.id }}/">{{ part.company.name }}</a>
					</td>
				</tr>
				{% endfor %}
			</tr>
		</table>
		
		<div class="pagination">
			<span class="step-links">
				{% if parts_list.has_previous %}
				<a href="?q={{ searchterm }}&page={{ parts_list.previous_page_number }}">previous</a>
				{% endif %}
				<span class="current">
					Page {{ parts_list.number }} of {{ parts_list.paginator.num_pages }}.
				</span>
				{% if parts_list.has_next %}
				<a href="?q={{ searchterm }}&page={{ parts_list.next_page_number }}">next</a>
				{% endif %}
			</span>
		</div>
		<br />
		<br />
		<h3 class="add">Don't see your part? You can <a href="/part.php?a=add&amp;q=<?= $_GET['q'] ?>">add</a> it to the database.</h3>
	</div>
{% endblock %}

